<!-- ▼ パンくずリスト ▼ -->
<div class="breadcrumb" typeof="BreadcrumbList" vocab="https://schema.org/">
	<!-- Breadcrumb NavXT 6.4.0 -->
	<span property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage" title="" href="#" class="home">
			<span property="name">HOME</span>
		</a>
		<meta property="position" content="1">
	</span>
	<span class="post post-page current-item">プラグイン出力</span>
</div>
<!-- ▲ パンくずリスト ▲ -->